<div class="text-sm text-gray-500 mb-2">
  <%= link_to 'â† Back to events', "javascript:history.back()" %>
</div>

<h1 class="font-bold text-xl"><%= @event.title %></h1>
<h2 class="font-bold mb-6 space-y-2">
  <div class="text-gray-500"><%= @event.subtitle %></div>
  <div><%= @event.speakers %><div>
</h2>

<div class="italic mb-4"><%= raw @event.abstract %></div>

<div><%= raw @event.description %></div>
